:root {
  --dark-blue: #006BA6;
  --main-blue: #0496FF;
  --main-yellow: #FFBC42;
  --main-ruby: #D81159;
  --dark-ruby: #8F2D56;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.block__item {
  padding: 10px;
  width: 80vh;
  border-style: outset;
}

.block-head {
  margin-top: 25px;
  background-color: var(--main-blue);
}

.block-head__title {
  color: white;
}

.block-head__counter--error {
  color: var(--main-ruby);
  background-color: white;
}

.block-head__counter {
  font-weight: 900;
}

.block-form {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.block-form__button {
  border: none;
  color: white;
  cursor: pointer;
  padding: 3px 15px;
  border-style: outset;

}

.block-form__button:hover {
  background-color: var(--main-ruby);
}

.block-form__button--add {
  background-color: var(--main-blue);
}

.block-form__button--edit {
  background-color: var(--main-yellow);
}

.block-form__button--delete {
  background-color: var(--dark-ruby);
}

.block-list-group {
  background-color: white;
}

.block-list-group__item {
  padding: 10px 15px;
  border-style: outset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}