:root {
  --dark-blue: #006BA6;
  --main-blue: #0496FF;
  --main-yellow: #FFBC42;
  --main-ruby: #D81159;
  --dark-ruby: #8F2D56;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  height: 100vh;
}

.container__row {
  padding: 10px;
  width: 80vh;
}

.container__row--header {
  background-color: var(--main-blue);
  color: white;
}

.container__row--input {
  background-color: white;
}





.container-head {
  color: white;
  width: 80vh;
  padding: 10px;
  background-color: var(--main-blue);
}

.container-item {
  margin-bottom: 5px;
  background-color: white;
}

.add-button {
  color: white;
  padding: 3px 8px;
  border: none;
  background-color: var(--main-blue);
  cursor: pointer;
}

.add-button:hover {
  background-color: var(--dark-blue);
}